Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

fix typo
  CONTRIBUTING.md
Labels: none

docs: refer to `AGENTS.md` from `CONTRIBUTING.md` (#262)
  CONTRIBUTING.md
Labels: none

feat(html): `plain()` function to return plain text from HTML
  core/html/deno.json
  core/html/html.test.ts
  core/html/html.ts
  deno.json
  deno.lock
Labels: core

lint
  core/html/html.ts
Labels: core

fix
  core/html/html.test.ts
  core/html/html.ts
Labels: core

even more
  core/html/html.ts
Labels: core

fmt
  core/html/html.ts
Labels: core

fix
  core/html/html.test.ts
  core/html/html.ts
  deno.json
  deno.lock
Labels: core

doc
  core/html/html.ts
Labels: core

rewrite with deno-dom
  core/html/html.test.ts
  core/html/html.ts
  deno.json
  deno.lock
Labels: core

feat(html): `plain()` function to return plain text from HTML (#263)
  core/html/deno.json
  core/html/html.test.ts
  core/html/html.ts
  deno.json
  deno.lock
Labels: core

ci: accept titles for some more planned submodules
  .github/workflows/title.yml
Labels: none

ci: accept titles for some more planned submodules (#264)
  .github/workflows/title.yml
Labels: none

refactor(html/plain): move `plain()` to its own module
  core/assert/assert.ts
  core/html/html.ts
  core/html/plain.test.ts
  core/html/plain.ts
Labels: core

title
  .github/workflows/title.yml
Labels: none

null checks
  core/html/plain.ts
Labels: core

refactor(html): move `plain()` to its own module (#265)
  .github/workflows/title.yml
  core/assert/assert.ts
  core/html/html.ts
  core/html/plain.test.ts
  core/html/plain.ts
Labels: core

chore: instruct agents to use self-signed certificates
  AGENTS.md
Labels: none

link to agents.md
  CONTRIBUTING.md
Labels: none

fmt
  AGENTS.md
Labels: none

chore: instruct agents to use self-signed certificates (#267)
  AGENTS.md
  CONTRIBUTING.md
Labels: none

chore: instruct agents to make sure `deno task ok` is passing
  AGENTS.md
Labels: none

reorder
  AGENTS.md
Labels: none

chore: instruct agents to make sure `deno task ok` is passing (#268)
  AGENTS.md
Labels: none

ci: update name for `async/any`
  .github/workflows/title.yml
Labels: none

ci: update name for `async/any` (#269)
  .github/workflows/title.yml
Labels: none

Apply suggestion from @Copilot
  core/async/pool.test.ts
Labels: core

Update core/async/any.test.ts
  core/async/any.test.ts
Labels: core

cleanup
  core/async/any.test.ts
  core/async/any.ts
  core/async/async.ts
  core/async/deno.json
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

better pool test
  core/async/pool.test.ts
Labels: core

iterate
  core/async/any.test.ts
  core/async/any.ts
Labels: core

feat(async/any): implement `any()` function to return first resolved result (#266)
  core/async/any.test.ts
  core/async/any.ts
  core/async/async.ts
  core/async/deno.json
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

fix(testing/fake): `FakeConsole` type should not be `Disposable`
  core/testing/fake.ts
Labels: core

feat(testing/fake): `fakeEnv()` to provide environment variables for testing
  core/testing/deno.json
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

feat(testing/fake): `fakeEnv()` to provide environment variables for testing
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

fix(testing/fake): make sure fake objects are not recursively stubbed
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

refactor(testing/fake): tidy fake interfaces
  core/testing/fake.ts
Labels: core

docs(fs): refine package docs
  core/fs/fs.ts
Labels: core

feat(cli/testing): `cliTest` function to test CLI code
  core/cli/cli.ts
  core/cli/deno.json
  deno.lock
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: core, forge

fix(testing/fake): `FakeConsole` type should not be `Disposable`
  core/testing/fake.ts
Labels: core

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
