Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

fix(testing/fake): make `FakeConsole` not `Disposable` (#271)
  core/testing/fake.ts
Labels: core

Update core/testing/fake.ts
  core/testing/fake.ts
Labels: core

Update core/testing/fake.ts
  core/testing/fake.ts
Labels: core

feat(testing/fake): `fakeEnv()` to provide environment variables for testing
  core/testing/deno.json
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

revert stub test for fakeConsole
  core/testing/fake.test.ts
Labels: core

feat(testing/fake): `fakeEnv()` to provide environment variables in tests (#272)
  core/testing/deno.json
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

feat(testing/fake): `fakeArgs()` to provide script arguments for testing
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

wording
  core/testing/fake.ts
Labels: core

feat(testing/fake): `fakeArgs()` to provide script arguments for testing (#273)
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

fix(testing/fake): make sure fake objects are not recursively stubbed
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

fix(testing/fake): make sure fake objects are not recursively stubbed (#274)
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

refactor(testing/fake): tidy fake interfaces
  core/testing/fake.ts
Labels: core

docs(fs): refine package docs
  core/fs/fs.ts
Labels: core

refactor(testing/fake): tidy fake interfaces (#275)
  core/testing/fake.ts
Labels: core

docs(fs): refine package docs (#276)
  core/fs/fs.ts
Labels: core

test(forge): refactor CLI tests using fake objects
  core/cli/deno.json
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: core, forge

Apply suggestion from @Copilot
  tool/forge/forge.test.ts
Labels: forge

cleanup
  core/cli/deno.json
Labels: core

test(forge): refactor CLI tests using fake objects (#277)
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

fix(http/plain): fix export of `plain`
  core/html/deno.json
  core/html/html.ts
  core/html/plain.ts
Labels: core

fix(html/plain): fix export of `plain` (#278)
  core/html/deno.json
  core/html/html.ts
  core/html/plain.ts
Labels: core

fix(forge/testing): make `unstableTestImports` work from any directory
  tool/forge/testing.ts
Labels: forge

title
  .github/workflows/title.yml
Labels: none

test(forge): make `unstableTestImports` work from any directory (#279)
  .github/workflows/title.yml
  tool/forge/testing.ts
Labels: forge

feat(maybe): serve `AggregateError` causes as multiple errors
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
  tool/forge/forge.ts
Labels: core, forge

cleanup
  tool/forge/forge.ts
Labels: forge

cleanup
  core/maybe/maybe.test.ts
Labels: core

feat(maybe): serve `AggregateError` causes as multiple errors (#280)
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
  tool/forge/forge.ts
Labels: core, forge

feat(maybe): `maybe()` ensures `errors` is is not empty on error
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
Labels: core

without type coercion
  core/maybe/maybe.ts
Labels: core

feat(maybe): `maybe()` ensures `errors` is is not empty on error (#281)
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
Labels: core

docs(maybe): document `Maybe`
  core/maybe/maybe.ts
Labels: core

docs(maybe): document `Maybe` (#282)
  core/maybe/maybe.ts
Labels: core

test(http,github): run tests without env or net permissions
  core/github/__mocks__/github.test.ts.mock
  core/github/deno.json
  core/github/github.test.ts
  core/http/deno.json
  core/http/graphql/client.test.ts
  core/http/json/client.test.ts
Labels: core

comment
  core/http/graphql/client.test.ts
Labels: core

test(http,github): run tests without env or net permissions (#283)
  core/github/__mocks__/github.test.ts.mock
  core/github/deno.json
  core/github/github.test.ts
  core/http/deno.json
  core/http/graphql/client.test.ts
  core/http/json/client.test.ts
Labels: core

fix(async/pool): remove pool of async generators
  core/async/deno.json
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

fix(async/pool): remove pool of async generators (#284)
  core/async/deno.json
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

compare symlink resolved path
  core/fs/temp.test.ts
Labels: core

fmt example
  core/fs/temp.ts
Labels: core

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
