Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

style: better variable name
  core/git/git.ts
Labels: core

style: better variable name (#135)
  core/git/git.ts
Labels: core

docs(forge): simpler `forge` version in docs
  tool/forge/forge.ts
Labels: forge

docs(forge): simpler `forge` version in docs (#137)
  tool/forge/forge.ts
Labels: forge

fix(git,forge): simpler error messages with `cause`
  core/git/git.ts
  tool/forge/compile.ts
  tool/forge/release.ts
Labels: core, forge

fix
  tool/forge/compile.ts
Labels: forge

refine
  tool/forge/compile.ts
Labels: forge

fix(git,forge): simpler error messages with `cause` (#136)
  core/git/git.ts
  tool/forge/compile.ts
  tool/forge/release.ts
Labels: core, forge

feat(forge): cleaner error output
  tool/forge/forge.ts
Labels: forge

feat(forge): cleaner error output (#138)
  tool/forge/forge.ts
Labels: forge

feat(git): make `conventional()` more lenient
  core/git/conventional.test.ts
  core/git/conventional.ts
Labels: core

non-greedy space match
  core/git/conventional.ts
Labels: core

fix doc
  core/git/conventional.ts
Labels: core

feat(git): make `conventional()` more lenient (#139)
  core/git/conventional.test.ts
  core/git/conventional.ts
Labels: core

feat(forge): better support simple repos
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.ts
Labels: forge

feat(forge): better support for simple repos (#140)
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.ts
Labels: forge

feat(forge): `testing` objects can initialize their git repositories
  tool/forge/bump.test.ts
  tool/forge/compile.test.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/testing.ts
Labels: forge

fix typo
  tool/forge/bump.test.ts
Labels: forge

feat(forge): `testing` objects can initialize their git repositories (#141)
  tool/forge/bump.test.ts
  tool/forge/compile.test.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/testing.ts
Labels: forge

fix(forge): fail early for invalid package version
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

fix test name
  tool/forge/package.test.ts
Labels: forge

fix(forge): fail early for invalid package version (#142)
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

feat(git): support pre-releases in version sort
  core/git/git.test.ts
  core/git/git.ts
Labels: core

iterate
  core/git/git.ts
Labels: core

fix doc
  core/git/git.ts
Labels: core

fix
  core/git/git.ts
Labels: core

feat(git): support pre-releases in version sort (#143)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

fix(forge): handle pre-releases
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

fix typo
  tool/forge/package.test.ts
Labels: forge

use dash
  tool/forge/bump.ts
  tool/forge/package.ts
Labels: forge

one more
  core/github/github.ts
Labels: core

fix
  tool/forge/package.ts
Labels: forge

fix(forge): handle pre-releases (#144)
  core/github/github.ts
  tool/forge/bump.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: core, forge

refactor(forge): simplify the `Release` type
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.test.ts
Labels: forge

fix typo
  tool/forge/package.test.ts
Labels: forge

refactor(forge): simplify the `Release` type (#145)
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.test.ts
Labels: forge

feat(forge): add support for target architectures in compile config
  tool/forge/compile.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: forge

target
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: forge

feat(forge): add support for target architectures in compile config (#146)
  tool/forge/compile.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: forge

style: import from `@std/path`
  tool/forge/bump.test.ts
Labels: forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
