Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**

chore: update dependencies (#227)
  deno.json
  deno.lock
Labels: none

test(http,testing): make `Deno.test` examples pass
  core/http/__mocks__/testing.ts$59-69.ts.mock
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/testing/__mocks__/testing.ts$29-37.ts.mock
  core/testing/mock.ts
  core/testing/testing.ts
Labels: core

cleanup
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/http/__mocks__/testing.ts.mock
  core/http/testing.ts
  core/testing/__mocks__/testing.ts.mock
  core/testing/testing.ts
Labels: core

testing(git): fix unawaited async calls in test
  core/git/git.test.ts
Labels: core

test(http,testing): make `Deno.test` examples pass (#229)
  core/http/__mocks__/testing.ts.mock
  core/http/testing.ts
  core/testing/__mocks__/testing.ts.mock
  core/testing/mock.ts
  core/testing/testing.ts
Labels: core

test(git): fix unawaited async calls in test (#228)
  core/git/git.test.ts
Labels: core

fix(forge): support workspace path patterns
  deno.json
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/testing.ts
Labels: forge

fix(forge): support workspace path patterns (#230)
  deno.json
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/testing.ts
Labels: forge

chore: update dependencies
  deno.json
  deno.lock
Labels: none

chore: update dependencies (#233)
  deno.json
  deno.lock
Labels: none

feat(forge): support submodules and `unstable` in scopes
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

breaking changes always trigger an update
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

feat(forge): support submodules and `unstable` in scopes (#234)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
Labels: forge

ci: allow titles with planned packages
  .github/workflows/title.yml
Labels: none

ci: allow titles with planned packages (#235)
  .github/workflows/title.yml
Labels: none

feat(assert): add `assertArrayObjectMatch` function
  core/assert/assert.test.ts
  core/assert/assert.ts
  core/assert/deno.json
Labels: core

update tests to use the new function
  core/github/github.test.ts
  tool/forge/bump.test.ts
  tool/forge/package.test.ts
  tool/forge/release.test.ts
Labels: core, forge

comments
  core/assert/assert.ts
Labels: core

fix
  core/assert/assert.ts
Labels: core

feat(assert): add `assertArrayObjectMatch` function (#236)
  core/assert/assert.test.ts
  core/assert/assert.ts
  core/assert/deno.json
  core/github/github.test.ts
  tool/forge/bump.test.ts
  tool/forge/package.test.ts
  tool/forge/release.test.ts
Labels: core, forge

test(async): better test for execution order with `pool()` and `pooled()`
  core/async/pool.test.ts
  tool/forge/release.test.ts
Labels: core, forge

test(async): better test for execution order with `pool()` and `pooled()` (#237)
  core/async/pool.test.ts
  tool/forge/release.test.ts
Labels: core, forge

feat(http): implement WebCache API with `request()`
  core/http/__mocks__/request.test.ts.mock
  core/http/__snapshots__/request.test.ts.snap
  core/http/request.test.ts
  core/http/request.ts
  deno.json
  deno.lock
Labels: core

cleanup
  core/http/request.ts
Labels: core

feat(http): implement cache headers for `request()` (#238)
  core/http/__mocks__/request.test.ts.mock
  core/http/__snapshots__/request.test.ts.snap
  core/http/request.test.ts
  core/http/request.ts
  deno.json
  deno.lock
Labels: core

test(http): simplify doc tests
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/http/__mocks__/testing.ts$61-71.ts.mock
  core/http/testing.ts
Labels: core

test(http): simplify doc tests (#239)
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/http/__mocks__/testing.ts$61-71.ts.mock
  core/http/testing.ts
Labels: core

feat(http/json/client): implement `RequestOptions` for JSON client
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

ci: allow submodules in PR titles
  .github/workflows/title.yml
Labels: none

ci: allow submodules in PR titles (#241)
  .github/workflows/title.yml
Labels: none

feat(http/json/client): implement `RequestOptions` for JSON client (#240)
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

fix(http/graphql/client): make `client()` accept `URL`
  core/http/graphql/client.ts
Labels: core

fix(http/graphql/client): make `client()` accept `URL` (#242)
  core/http/graphql/client.ts
Labels: core

fix(http/graphql/client): add types to queries
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  deno.json
  deno.lock
Labels: core

fix(http/graphql/client): add types to queries (#243)
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  deno.json
  deno.lock
Labels: core

Revert "test(http): simplify doc tests (#239)"
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/http/__mocks__/testing.ts$61-71.ts.mock
  core/http/testing.ts
Labels: core

revert(http): simplify doc tests (#246)
  core/http/__mocks__/testing.ts$6-13.ts.mock
  core/http/__mocks__/testing.ts$61-71.ts.mock
  core/http/testing.ts
Labels: core

fix(http/testing): omit output headers when headers are ignored
  core/github/__mocks__/github.test.ts.mock
  core/http/__mocks__/testing.test.ts.mock
  core/http/testing.test.ts
  core/http/testing.ts
Labels: core

cleanup
  core/http/__mocks__/testing.ts.mock
  core/http/testing.ts
Labels: core

fix(http/testing): omit output headers when headers are ignored (#244)
  core/github/__mocks__/github.test.ts.mock
  core/http/__mocks__/testing.test.ts.mock
  core/http/__mocks__/testing.ts.mock
  core/http/testing.test.ts
  core/http/testing.ts
Labels: core
