Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**

test
  .github/workflows/bump.yml
Labels: none

chore: bump forge version
  tool/forge/deno.json
Labels: forge

docs(forge): update docs GitHub authentication
  tool/forge/forge.ts
Labels: forge

iterate
  tool/forge/forge.ts
Labels: forge

iterate
  tool/forge/forge.ts
Labels: forge

iterate
  tool/forge/forge.ts
Labels: forge

iterate
  tool/forge/forge.ts
Labels: forge

iter
  tool/forge/forge.ts
Labels: forge

jsr
  tool/forge/forge.ts
Labels: forge

docs(forge): update docs GitHub authentication (#159)
  tool/forge/forge.ts
Labels: forge

test(forge): cli tests
  core/github/testing.ts
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/compile.ts
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: core, forge

iterate
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

no indent
  tool/forge/forge.ts
Labels: forge

snapshot
  tool/forge/__snapshots__/forge.test.ts.snap
Labels: forge

test(forge): cli tests (#160)
  core/github/testing.ts
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/compile.ts
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: core, forge

test(forge): combine some tests to reduce test running time
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

test(forge): combine some tests to reduce test running time (#161)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

refactor(forge): rename `WorkspaceOptions.directory` to `WorkspaceOptions.root`
  tool/forge/bump.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/testing.ts
Labels: forge

refactor(forge): rename `WorkspaceOptions.directory` to `WorkspaceOptions.root` (#162)
  tool/forge/bump.test.ts
  tool/forge/forge.ts
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/testing.ts
Labels: forge

feat(forge): add description text to `forge --help`
  deno.json
  deno.lock
  tool/forge/forge.ts
Labels: forge

feat(forge): add description text to `forge --help` (#163)
  deno.json
  deno.lock
  tool/forge/forge.ts
Labels: forge

feat(testing): formatted output from `FakeConsole`
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: core, forge

feat(testing): formatted output from `FakeConsole` (#164)
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: core, forge

fix(forge): `version()` returns single line string
  tool/forge/forge.ts
  tool/forge/version.test.ts
  tool/forge/version.ts
Labels: forge

fix(forge): `version()` returns single line string (#165)
  tool/forge/forge.ts
  tool/forge/version.test.ts
  tool/forge/version.ts
Labels: forge

fix(testing): handle newlines in `FakeConsole` output trim
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/__snapshots__/forge.test.ts.snap
Labels: core, forge

fix(testing): handle newlines in `FakeConsole` output trim (#166)
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/__snapshots__/forge.test.ts.snap
Labels: core, forge

fix(forge): nicer output for `forge list --modules`
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

cleanup logs
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

fix(forge): nicer output for `forge list` (#167)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

ci: remove debugging flag left in an earlier change
  .github/workflows/bump.yml
Labels: none

ci: remove debugging flag left in an earlier change (#169)
  .github/workflows/bump.yml
Labels: none

refine
  core/git/conventional.ts
Labels: core

docs(git): refine `conventional` docs
  core/git/conventional.ts
Labels: core

docs(git): refine `conventional` docs (#168)
  core/git/conventional.ts
Labels: core

docs: refined `README.md`
  README.md
Labels: none

docs: refined `README.md` (#170)
  README.md
Labels: none

docs: refined `CONTRIBUTING.md`
  .github/CONTRIBUTING.md
Labels: none

docs: refined `CONTRIBUTING.md` (#171)
  .github/CONTRIBUTING.md
Labels: none

feat(forge): cleaner release warning
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge
