Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

style: add a couple more naming rules
  CONTRIBUTING.md
Labels: none

feat(fs): add tempDirectory({ chdir: true }) to switch to the created directory until disposal (#285)
  core/fs/temp.test.ts
  core/fs/temp.ts
  deno.lock
Labels: core

style: add a couple more naming rules (#286)
  CONTRIBUTING.md
Labels: none

feat(assert): `assertSameElements` function to compare arrays withour order
  core/assert/assert.test.ts
  core/assert/assert.ts
Labels: core

non-comparables
  core/assert/assert.test.ts
  core/assert/assert.ts
Labels: core

doc
  core/assert/assert.ts
Labels: core

feat(assert): `assertSameElements` function to compare arrays without order (#287)
  core/assert/assert.test.ts
  core/assert/assert.ts
Labels: core

test(forge/release): refactor test with `assertObjectMatch` and `assertArrayObjectMatch`
  tool/forge/release.test.ts
Labels: forge

test(forge/release): refactor test with `assertObjectMatch` and `assertArrayObjectMatch` (#288)
  tool/forge/release.test.ts
Labels: forge

iterate
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core

feat(fs/find): `find()` files and directories recursively
  core/fs/deno.json
  core/fs/find.ts
  deno.lock
Labels: core

iterate
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core

assertSameElements
  core/fs/find.test.ts
Labels: core

feat(flow): scaffold for fmt
  tool/flow/deno.json
  tool/flow/flow.ts
  tool/flow/test.ts
Labels: none

fix(assert): handle reoccurring elements in `assertSameElements`
  core/assert/assert.test.ts
  core/assert/assert.ts
Labels: core

fix(assert): handle reoccurring elements in `assertSameElements` (#289)
  core/assert/assert.test.ts
  core/assert/assert.ts
Labels: core

refactor(fs/temp): use `Deno.realPath` instead of the unstable @std variant
  core/fs/temp.test.ts
Labels: core

fix
  core/fs/temp.test.ts
Labels: core

refactor(fs/temp): use `Deno.realPath` instead of the unstable @std v… (#290)
  core/fs/temp.test.ts
Labels: core

cleanup
  core/fs/temp.test.ts
Labels: core

test(fs/temp): test recursive chdir with tempDirectory (#291)
  core/fs/temp.test.ts
Labels: core

chore: update agent guide to prefer minimal coding style
  AGENTS.md
Labels: none

typo
  AGENTS.md
Labels: none

chore: update agent guide to prefer minimal coding style (#292)
  AGENTS.md
Labels: none

fix(assert): export interface types
  core/assert/assert.ts
Labels: core

fix(assert): export interface types (#294)
  core/assert/assert.ts
Labels: core

chore: run all of `deno task ok` in ci
  deno.json
Labels: none

remove publish check (yolo)
  deno.json
Labels: none

chore: run all of `deno task ok` in ci (#295)
  deno.json
Labels: none

iterate
  .github/workflows/copilot-setup-steps.yml
  copilot-setup-steps.yml
  core/assert/assert.ts
Labels: core

permissions
  .github/workflows/copilot-setup-steps.yml
Labels: none

remove test step
  .github/workflows/copilot-setup-steps.yml
Labels: none

chore: add `copilot-setup-steps.yml` for Copilot tasks (#293)
  .github/workflows/copilot-setup-steps.yml
Labels: none

docs(git): fix minor wording issue in documentation (#296)
  core/git/git.ts
Labels: core

chore: simplify Copilot steps
  .github/workflows/copilot-setup-steps.yml
Labels: none

add checkout
  .github/workflows/copilot-setup-steps.yml
Labels: none

no checkout
  .github/workflows/copilot-setup-steps.yml
Labels: none

chore: simplify Copilot steps (#298)
  .github/workflows/copilot-setup-steps.yml
Labels: none

docs(forge,assert): fix spelling issues in documentation blocks (#297)
  core/assert/assert.ts
  tool/forge/changelog.ts
  tool/forge/forge.ts
Labels: core, forge

ci: fix `copilot-setup-steps.yml` workflow trigger configuration (#299)
  .github/workflows/copilot-setup-steps.yml
Labels: none

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
