Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

iterate
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

feat(forge): cleaner release warning (#172)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

test(forge): add some tests for code previously not covered
  tool/forge/compile.test.ts
  tool/forge/compile.ts
  tool/forge/testing.test.ts
Labels: forge

fix typo
  tool/forge/testing.test.ts
Labels: forge

test(forge): add some tests for code previously not covered (#173)
  tool/forge/compile.test.ts
  tool/forge/compile.ts
  tool/forge/testing.test.ts
Labels: forge

style: avoid relative import
  tool/forge/bump.ts
  tool/forge/compile.test.ts
  tool/forge/forge.test.ts
  tool/forge/package.test.ts
  tool/forge/testing.test.ts
Labels: forge

style: fix import styles (#175)
  tool/forge/bump.ts
  tool/forge/compile.test.ts
  tool/forge/forge.test.ts
  tool/forge/package.test.ts
  tool/forge/testing.test.ts
Labels: forge

docs: update `CONTRIBUTING.md` to link to code of conduct
  .github/CONTRIBUTING.md
Labels: none

docs: update `CONTRIBUTING.md` to link to code of conduct (#176)
  .github/CONTRIBUTING.md
Labels: none

chore: bump testing version
  core/testing/deno.json
Labels: core

chore: bump testing version (#174)
  core/testing/deno.json
Labels: core

docs(http,testing,forge): fix some links in docs
  core/http/graphql/client.ts
  core/testing/mock.ts
  core/testing/testing.ts
  tool/forge/changelog.ts
  tool/forge/package.ts
Labels: core, forge

docs(http,testing,forge): fix some links in docs (#177)
  core/http/graphql/client.ts
  core/testing/mock.ts
  core/testing/testing.ts
  tool/forge/changelog.ts
  tool/forge/package.ts
Labels: core, forge

chore(forge): document todo for pre-release state
  tool/forge/forge.ts
Labels: forge

one more
  tool/forge/forge.ts
Labels: forge

chore(forge): document two `@todo` items (#179)
  tool/forge/forge.ts
Labels: forge

update mocks
  core/testing/__mocks__/custom/mock.test.path.ts.mock
Labels: core

fix(testing): `mock()` explains when it lacks write permission
  core/testing/mock.test.ts
  core/testing/mock.ts
Labels: core

fix(testing): `mock()` explains when it lacks write permission (#178)
  core/testing/__mocks__/custom/mock.test.path.ts.mock
  core/testing/mock.test.ts
  core/testing/mock.ts
Labels: core

test(git): test permisison check
  core/git/git.test.ts
Labels: core

test(git): test run permission check (#180)
  core/git/git.test.ts
Labels: core

chore: bump versions
  CHANGELOG.md
  core/async/deno.json
  core/cli/deno.json
  core/git/deno.json
  core/github/deno.json
  core/http/deno.json
  core/testing/deno.json
  tool/forge/deno.json
Labels: core, forge

fixed changelog format
  CHANGELOG.md
Labels: none

chore: bump versions (#181)
  CHANGELOG.md
  core/async/deno.json
  core/cli/deno.json
  core/git/deno.json
  core/github/deno.json
  core/http/deno.json
  core/testing/deno.json
  tool/forge/deno.json
Labels: core, forge

fix(http): simpler http export map
  core/http/deno.json
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

fix(http): simpler http export map (#182)
  core/http/deno.json
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

chore(http): flatten folder structure so http can be published
  core/http/__mocks__/graphql.test.ts.mock
  core/http/__mocks__/json.test.ts.mock
  core/http/__snapshots__/graphql.test.ts.snap
  core/http/__snapshots__/json.test.ts.snap
  core/http/deno.json
  core/http/graphql.test.ts
  core/http/graphql.ts
  core/http/json.test.ts
  core/http/json.ts
Labels: core

chore(http): flatten folder structure so http can be published (#183)
  core/http/__mocks__/graphql.test.ts.mock
  core/http/__mocks__/json.test.ts.mock
  core/http/__snapshots__/graphql.test.ts.snap
  core/http/__snapshots__/json.test.ts.snap
  core/http/deno.json
  core/http/graphql.test.ts
  core/http/graphql.ts
  core/http/json.test.ts
  core/http/json.ts
Labels: core

fix(http): try re-exporting `request` from default module
  core/http/deno.json
  core/http/graphql.ts
  core/http/http.ts
  core/http/json.ts
Labels: core

fix(http): try re-exporting `request` from default module (#184)
  core/http/deno.json
  core/http/graphql.ts
  core/http/http.ts
  core/http/json.ts
Labels: core

chore: bump http version
  CHANGELOG.md
  core/http/deno.json
Labels: core

update changelog
  CHANGELOG.md
Labels: none

chore: bump http version (#185)
  CHANGELOG.md
  core/http/deno.json
Labels: core

fix(forge): fix module name in docs
  tool/forge/version.ts
Labels: forge

fix(forge): fix module name in docs (#186)
  tool/forge/version.ts
Labels: forge

fix(forge): relative imports for peer dependencies
  tool/forge/bump.ts
  tool/forge/compile.ts
  tool/forge/deno.json
  tool/forge/forge.ts
  tool/forge/release.ts
  tool/forge/testing.ts
  tool/forge/version.ts
Labels: forge

fix(forge): relative imports for peer dependencies (#187)
  tool/forge/bump.ts
  tool/forge/compile.ts
  tool/forge/deno.json
  tool/forge/forge.ts
  tool/forge/release.ts
  tool/forge/testing.ts
  tool/forge/version.ts
Labels: forge

chore: bump forge version
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge version (#188)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: remove duplicate changelog entry
  CHANGELOG.md
Labels: none

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
