Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

refactor(forge): use `bold()` from @std/fmt/colors
  deno.json
  deno.lock
  tool/forge/forge.ts
Labels: forge

refactor(forge): use `bold()` from @std/fmt/colors (#208)
  deno.json
  deno.lock
  tool/forge/forge.ts
Labels: forge

test(testing,git): add tests for temporary resources
  core/git/testing.test.ts
  core/testing/temp.test.ts
Labels: core

test(testing,git): add tests for temporary resources (#209)
  core/git/testing.test.ts
  core/testing/temp.test.ts
Labels: core

style: use relative import within package
  .github/CONTRIBUTING.md
  core/async/pool.test.ts
  core/cli/config.test.ts
  core/git/conventional.test.ts
  core/git/conventional.ts
  core/git/git.test.ts
  core/git/testing.test.ts
  core/git/testing.ts
  core/github/github.test.ts
  core/github/testing.test.ts
  core/github/testing.ts
  core/http/graphql/client.test.ts
  core/http/json/client.test.ts
  core/http/request.test.ts
  core/http/testing.test.ts
  core/testing/fake.test.ts
  core/testing/mock.test.ts
  core/testing/temp.test.ts
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/compile.test.ts
  tool/forge/forge.test.ts
  tool/forge/package.test.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/version.test.ts
Labels: core, forge

style: use relative import within package (#210)
  .github/CONTRIBUTING.md
  core/async/pool.test.ts
  core/cli/config.test.ts
  core/git/conventional.test.ts
  core/git/conventional.ts
  core/git/git.test.ts
  core/git/testing.test.ts
  core/git/testing.ts
  core/github/github.test.ts
  core/github/testing.test.ts
  core/github/testing.ts
  core/http/graphql/client.test.ts
  core/http/json/client.test.ts
  core/http/request.test.ts
  core/http/testing.test.ts
  core/testing/fake.test.ts
  core/testing/mock.test.ts
  core/testing/temp.test.ts
  tool/forge/bump.test.ts
  tool/forge/changelog.test.ts
  tool/forge/compile.test.ts
  tool/forge/forge.test.ts
  tool/forge/package.test.ts
  tool/forge/release.test.ts
  tool/forge/testing.test.ts
  tool/forge/version.test.ts
Labels: core, forge

fix(forge): pad single width emoji on on tty
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

fix(forge): pad single width emoji on tty (#211)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

fix(forge): do not try to release package at version 0.0.0
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

fix(forge): do not try to release package at version 0.0.0 (#212)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
  tool/forge/forge.ts
Labels: forge

docs(forge): start tutorial with an example `deno.json`
  tool/forge/forge.ts
Labels: forge

docs(forge): start tutorial with an example `deno.json` (#213)
  tool/forge/forge.ts
Labels: forge

chore: bump forge to 0.1.4
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge to 0.1.4 (#214)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

fix(forge): add commit hash to releases and commits when there is no PR number
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: forge

fix(forge): add commit hash when there is no pull request number (#215)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: forge

docs(forge): slightly refine release section
  tool/forge/forge.ts
Labels: forge

docs(forge): slightly refine release section (#216)
  tool/forge/forge.ts
Labels: forge

fix(forge): sort commits by importance in changelogs
  CHANGELOG.md
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
  tool/forge/forge.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: forge

fix example
  tool/forge/changelog.ts
Labels: forge

add tests
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

fix(forge): sort commits by importance in changelogs (#217)
  CHANGELOG.md
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: forge

test(forge): nicer test names in `forge.test.ts`
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

test(forge): nicer test names in `forge.test.ts` (#218)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

chore: bump forge to 0.1.5
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge to 0.1.5 (#219)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

fix(http): export `gql` of `urlq` from `graphql/client`
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
Labels: core

fix(http): export `gql` of `urlq` from `graphql/client` (#220)
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
Labels: core

chore: bump http to 0.2.2
  CHANGELOG.md
  core/http/deno.json
Labels: core

chore: bump http to 0.2.2 (#221)
  CHANGELOG.md
  core/http/deno.json
Labels: core

feat(git): `git().index.status()`
  core/git/git.test.ts
  core/git/git.ts
Labels: core

consistent naming for pathspecs
  core/git/git.test.ts
  core/git/git.ts
Labels: core

feat(git): `git().index.status()` (#223)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

chore: bump git to 0.3.0
  CHANGELOG.md
  core/git/deno.json
Labels: core

chore: bump git to 0.3.0 (#224)
  CHANGELOG.md
  core/git/deno.json
Labels: core

fix(git): skip ignored files by default in `git().index.status()`
  core/git/git.test.ts
  core/git/git.ts
Labels: core

fix(git): skip ignored files by default in `git().index.status()` (#225)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

chore: bump git to 0.3.1
  CHANGELOG.md
  core/git/deno.json
Labels: core

chore: bump git to 0.3.1 (#226)
  CHANGELOG.md
  core/git/deno.json
Labels: core

chore: update dependencies
  deno.json
  deno.lock
Labels: none

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
