Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

feat(fs/find): `ignore` option for `find` to ignore paths
  core/fs/find.ts
Labels: core

Update core/git/git.ts
  core/git/git.ts
Labels: core

better ignore
  core/fs/find.ts
Labels: core

ignore before stat
  core/fs/find.ts
Labels: core

feat(git): add `matching` option to `ignore.check` for non-matching paths
  core/git/git.test.ts
  core/git/git.ts
Labels: core

Update core/git/git.ts
  core/git/git.ts
Labels: core

feat(git): add `matching` option to `ignore.check` for non-matching paths (#323)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

refactor(http/graphql/client)!: remove graphql module and urql dependencies (#327)
  .github/workflows/title.yml
  core/http/deno.json
  core/http/graphql/__mocks__/client.test.ts.mock
  core/http/graphql/__snapshots__/client.test.ts.snap
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  core/http/http.ts
  deno.json
  deno.lock
Labels: core

refactor(http/json/client)!: export from `http/json` directly (#328)
  core/http/__mocks__/json.test.ts.mock
  core/http/__snapshots__/json.test.ts.snap
  core/http/deno.json
  core/http/http.ts
  core/http/json.test.ts
  core/http/json.ts
Labels: core

refactor: check `success` instead of `code` with `Deno.Command` (#329)
  core/fs/find.test.ts
  core/testing/fake.ts
  tool/forge/compile.test.ts
  tool/forge/compile.ts
Labels: core, forge

revert temp, as it won't work on macos otherwise
  core/fs/temp.test.ts
Labels: core

refactor: use `resolve` instead of `Deno.realPath` in tests (#330)
  core/fs/find.test.ts
Labels: core

deno()
  tool/flow/deno.ts
  tool/flow/doc.test.ts
  tool/flow/doc.ts
  tool/flow/flow.ts
  tool/flow/fmt.ts
  tool/flow/lint.ts
Labels: none

style: format code blocks in JSDoc
  deno.json
  tool/flow/deno.json
  tool/flow/doc.test.ts
  tool/flow/doc.ts
  tool/flow/flow.ts
  tool/flow/fmt.test.ts
  tool/flow/fmt.ts
  tool/flow/lint.test.ts
  tool/flow/lint.ts
Labels: none

iterate
  tool/flow/deno.ts
  tool/flow/flow.ts
  tool/flow/fmt.ts
  tool/flow/lint.ts
Labels: none

iterate
  tool/flow/deno.ts
  tool/flow/flow.ts
  tool/flow/lint.ts
Labels: none

iterate
  tool/flow/deno.ts
  tool/flow/flow.ts
  tool/flow/fmt.ts
  tool/flow/lint.ts
Labels: none

iterate
  tool/flow/flow.ts
  tool/flow/fmt.ts
  tool/flow/lint.ts
Labels: none

tasks
  deno.json
  tool/flow/fmt.ts
Labels: none

iterate
  tool/flow/deno.ts
Labels: none

iterate
  tool/flow/deno.ts
  tool/flow/doc.ts
  tool/flow/flow.ts
  tool/flow/fmt.ts
  tool/flow/lint.test.ts
  tool/flow/lint.ts
Labels: none

test
  tool/flow/deno.ts
  tool/flow/fmt.test.ts
  tool/flow/lint.test.ts
Labels: none

iterate
  tool/flow/fmt.test.ts
  tool/flow/fmt.ts
  tool/flow/lint.test.ts
Labels: none

doc: mark forge modules as internal
  tool/forge/bump.ts
  tool/forge/changelog.ts
  tool/forge/compile.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: forge

docs(forge): mark forge modules as internal (#331)
  tool/forge/bump.ts
  tool/forge/changelog.ts
  tool/forge/compile.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: forge

doc(http): rename `mockFetch` examples to `"mockFetch() example"`
  core/http/__mocks__/testing.ts.mock
  core/http/testing.ts
Labels: core

docs(http): rename `mockFetch` examples to `"mockFetch() example"` (#332)
  core/http/__mocks__/testing.ts.mock
  core/http/testing.ts
Labels: core

feat(testing/fake): ignore ANSI codes in `fakeConsole()` with option to not ignore
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

fixes
  core/testing/fake.ts
Labels: core

feat(testing/fake): ignore ANSI codes in `fakeConsole()` with option to not ignore (#334)
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

test(forge): verify help text
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

test
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

fix
  tool/forge/forge.test.ts
Labels: forge

test(forge): verify help text (#335)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

feat(testing/fake): negate color and ansi stripping options in `fakeConsole()`
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/forge.test.ts
Labels: core, forge

feat(testing/fake): negate color and ansi stripping options in `fakeConsole()` (#336)
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/forge.test.ts
Labels: core, forge

style(testing/fake): order `fakeConsole()` options alphabetically
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/forge.test.ts
Labels: core, forge

style(testing/fake): order `fakeConsole()` options alphabetically (#337)
  core/testing/fake.test.ts
  core/testing/fake.ts
  tool/forge/forge.test.ts
Labels: core, forge

feat(forge): verify exit code from forge execution
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

test(forge): verify exit code from forge execution (#338)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.test.ts
Labels: forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
