Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

docs: make examples pass type-checks in isolation
  core/assert/assert.ts
  tool/forge/changelog.ts
  tool/forge/package.ts
  tool/forge/version.ts
Labels: core, forge

docs: make examples pass type-checks in isolation (#339)
  core/assert/assert.ts
  tool/forge/changelog.ts
  tool/forge/package.ts
  tool/forge/version.ts
Labels: core, forge

feat(deno): deno command interface for various operations
  core/deno/deno.json
  core/deno/deno.test.ts
  core/deno/deno.ts
  tool/forge/bump.ts
  tool/forge/compile.ts
Labels: core, forge

wording
  core/deno/deno.ts
Labels: core

wording
  core/deno/deno.ts
Labels: core

simplify assert
  tool/forge/bump.ts
Labels: forge

feat(deno): deno command interface for various operations (#340)
  core/deno/deno.json
  core/deno/deno.test.ts
  core/deno/deno.ts
  tool/forge/bump.ts
  tool/forge/compile.ts
Labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
