Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

chore: remove duplicate changelog entry (#189)
  CHANGELOG.md
Labels: none

fix(http): revert back to the intended export map
  core/http/deno.json
  core/http/graphql/__mocks__/client.test.ts.mock
  core/http/graphql/__snapshots__/client.test.ts.snap
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/__mocks__/client.test.ts.mock
  core/http/json/__snapshots__/client.test.ts.snap
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

fix(http): revert back to the intended export map (#190)
  core/http/deno.json
  core/http/graphql/__mocks__/client.test.ts.mock
  core/http/graphql/__snapshots__/client.test.ts.snap
  core/http/graphql/client.test.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/__mocks__/client.test.ts.mock
  core/http/json/__snapshots__/client.test.ts.snap
  core/http/json/client.test.ts
  core/http/json/client.ts
Labels: core

chore: bump http version
  CHANGELOG.md
  core/http/deno.json
Labels: core

chore: bump http version (#191)
  CHANGELOG.md
  core/http/deno.json
Labels: core

docs(http): change module name on docs to display a better example on JSR
  core/http/graphql/client.ts
  core/http/json/client.ts
Labels: core

docs(http): change module name on docs for a better JSR example (#192)
  core/http/graphql/client.ts
  core/http/json/client.ts
Labels: core

fix(forge): create pull requests published by default
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/forge.ts
Labels: forge

fix(forge): create pull requests published by default (#193)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/forge.ts
Labels: forge

fix(forge): use full commit summaries in bump commits
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix(forge): mention version number in title if bumping a single package
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

chore: bump forge to 0.1.1-pre.3+ef268ea
  tool/forge/deno.json
Labels: forge

fix(forge): use full commit summaries in bump commits (#194)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix(forge): mention version number in title if bumping a single package
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix
  tool/forge/bump.test.ts
Labels: forge

fix(forge): mention version number in title if bumping a single package (#196)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix(forge): `deno fmt` changelog files
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix(forge): `deno fmt` changelog files (#197)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

chore: bump forge to 0.1.1
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge to 0.1.1 (#198)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

fix(forge): rename `[default]` module to `(default)`
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

fix(forge): rename `[default]` module to `(default)` (#199)
  tool/forge/__snapshots__/forge.test.ts.snap
  tool/forge/forge.ts
Labels: forge

fix(forge): use JSR version when running from JSR
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/version.ts
Labels: forge

fix(forge): use JSR version when running from JSR (#200)
  tool/forge/package.test.ts
  tool/forge/package.ts
  tool/forge/version.ts
Labels: forge

chore: bump forge to 0.1.2
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge to 0.1.2 (#201)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

docs(forge): simplify the tutorial using `deno install`
  tool/forge/forge.ts
  tool/forge/version.ts
Labels: forge

docs(forge): simplify the tutorial using `deno install` (#202)
  tool/forge/forge.ts
  tool/forge/version.ts
Labels: forge

docs(forge): add example pr and release to docs
  tool/forge/forge.ts
Labels: forge

refine
  tool/forge/forge.ts
Labels: forge

docs(forge): add example pr and release to docs (#203)
  tool/forge/forge.ts
Labels: forge

docs: fix JSR links in docs
  core/async/pool.ts
  core/git/git.ts
  core/http/request.ts
  core/testing/mock.ts
  core/testing/testing.ts
  tool/forge/package.ts
Labels: core, forge

docs: fix JSR links in docs (#204)
  core/async/pool.ts
  core/git/git.ts
  core/http/request.ts
  core/testing/mock.ts
  core/testing/testing.ts
  tool/forge/package.ts
Labels: core, forge

fix(forge): determine JSR version from stack trace
  tool/forge/version.ts
Labels: forge

todo with warning
  tool/forge/version.ts
Labels: forge

fix(forge): determine JSR version from stack trace (#205)
  tool/forge/version.ts
Labels: forge

chore: bump forge to 0.1.3
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

chore: bump forge to 0.1.3 (#206)
  CHANGELOG.md
  tool/forge/deno.json
Labels: forge

refactor(forge): consistent ordering of command arguments and options
  tool/forge/forge.ts
Labels: forge

refactor(forge): consistent ordering of command arguments and options (#207)
  tool/forge/forge.ts
Labels: forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
