Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**

permissions
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

flag
  core/deno/deno.test.ts
  core/deno/deno.ts
  tool/forge/compile.ts
Labels: core, forge

named permission set
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

test
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

env
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

fmt
  core/deno/deno.ts
  tool/forge/bump.ts
  tool/forge/compile.ts
Labels: core, forge

iterate
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

iterate
  core/deno/deno.json
Labels: core

feat(flow): scaffold for fmt
  tool/flow/deno.json
  tool/flow/flow.ts
  tool/flow/test.ts
Labels: none

feat(testing/fake): `fakeCommand` for testing process spawns
  core/git/git.ts
  core/testing/fake.test.ts
Labels: core

feat(deno): run deno programmatically
  core/deno/deno.json
Labels: core

iterate
  tool/flow/deno.json
  tool/flow/flow.ts
Labels: none

lint
  tool/flow/flow.ts
Labels: none

iterate
  tool/flow/flow.ts
Labels: none

feat(testing/fake): `fakeCommand` for testing process spawns
  core/deno/deno.json
  core/deno/deno.test.ts
  core/deno/deno.ts
  deno.json
  deno.lock
  tool/forge/bump.ts
  tool/forge/compile.ts
Labels: core, forge

fix doc
  core/deno/deno.ts
Labels: core

url
  core/deno/deno.test.ts
  core/deno/deno.ts
  deno.lock
Labels: core

regex
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

ext
  core/deno/deno.ts
Labels: core

links
  core/deno/deno.ts
Labels: core

feat(testing/fake): `fakeCommand` for testing process spawns
  core/testing/fake.test.ts
  core/testing/fake.ts
  deno.json
  deno.lock
Labels: core

feat(testing/fake): `fakeCommand` for testing process spawns (#316)
  core/testing/fake.test.ts
  core/testing/fake.ts
  deno.json
  deno.lock
Labels: core

cleanup
  core/git/git.test.ts
  core/git/git.ts
Labels: core

lint
  core/git/git.ts
Labels: core

feat(git): add `git().ignore.check()` to check paths against gitignore patterns (#320)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

style: format code blocks in JSDoc
  core/assert/assert.ts
  core/async/any.ts
  core/async/async.ts
  core/async/pool.ts
  core/cli/config.ts
  core/fs/find.ts
  core/git/testing.ts
  core/github/testing.ts
  core/html/html.ts
  core/html/plain.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/client.ts
  core/http/request.ts
  core/maybe/maybe.ts
  core/testing/fake.ts
  tool/forge/compile.ts
  tool/forge/forge.ts
  tool/forge/package.ts
Labels: core, forge

fix
  core/async/pool.ts
Labels: core

fix
  core/async/pool.ts
Labels: core

lint
  core/async/any.ts
  core/async/async.ts
  core/async/pool.ts
  core/cli/cli.ts
  core/cli/config.ts
  core/fs/find.ts
  core/fs/temp.ts
  core/git/conventional.ts
  core/git/git.ts
  core/github/github.ts
  core/github/testing.ts
  core/html/html.ts
  core/html/plain.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/client.ts
  core/http/request.ts
  core/maybe/maybe.ts
  core/testing/fake.ts
  core/testing/testing.ts
  tool/flow/lint.ts
  tool/forge/bump.ts
  tool/forge/changelog.ts
  tool/forge/compile.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.ts
Labels: core, forge

lint continue
  tool/flow/lint.ts
  tool/forge/changelog.ts
  tool/forge/package.ts
  tool/forge/version.ts
Labels: forge

fix
  core/git/git.ts
Labels: core

nicer
  core/git/git.ts
Labels: core

style: format code blocks in JSDoc (#321)
  core/assert/assert.ts
  core/async/any.ts
  core/async/async.ts
  core/async/pool.ts
  core/cli/cli.ts
  core/cli/config.ts
  core/fs/find.ts
  core/fs/temp.ts
  core/git/conventional.ts
  core/git/git.ts
  core/git/testing.ts
  core/github/github.ts
  core/github/testing.ts
  core/html/html.ts
  core/html/plain.ts
  core/http/graphql/client.ts
  core/http/http.ts
  core/http/json/client.ts
  core/http/request.ts
  core/maybe/maybe.ts
  core/testing/fake.ts
  core/testing/testing.ts
  tool/forge/bump.ts
  tool/forge/changelog.ts
  tool/forge/compile.ts
  tool/forge/forge.ts
  tool/forge/package.ts
  tool/forge/release.ts
  tool/forge/testing.ts
  tool/forge/version.ts
Labels: core, forge

fix(fs/find): use std library instead of `node:path`
  core/fs/find.ts
Labels: core

fix(fs/find): use std library instead of `node:path` (#322)
  core/fs/find.ts
Labels: core

ci: run CI workflow on all PRs, not just main (#324)
  .github/workflows/ci.yml
Labels: none

docs(forge): fix incorrect no-capitalization `markdown` (#326)
  tool/forge/changelog.ts
Labels: forge

feat(fs/find): `ignore` option for `find` to ignore paths
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core

better examples
  core/fs/find.ts
Labels: core

feat(fs/find): `ignore` option for `find` to ignore paths (#325)
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core
