Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**

chore: refine coding instructions for agents
  AGENTS.md
Labels: none

fmt
  AGENTS.md
Labels: none

chore: refine coding instructions for agents (#301)
  AGENTS.md
Labels: none

chore: update dependabot config
  .github/dependabot.yml
Labels: none

ci
  .github/dependabot.yml
Labels: none

chore: update dependabot config (#305)
  .github/dependabot.yml
Labels: none

chore: refine dependabot config
  .github/dependabot.yml
Labels: none

chore: refine dependabot config (#306)
  .github/dependabot.yml
Labels: none

chore: accept `fs/find` titles
  .github/workflows/title.yml
Labels: none

chore: accept `fs/find` titles (#308)
  .github/workflows/title.yml
Labels: none

feat(fs/find): `find()` files and directories recursively
  core/fs/deno.json
  core/fs/find.test.ts
  core/fs/find.ts
  core/fs/fs.ts
  deno.lock
Labels: core

feat(fs/find): `find()` files and directories recursively (#307)
  core/fs/deno.json
  core/fs/find.test.ts
  core/fs/find.ts
  core/fs/fs.ts
  deno.lock
Labels: core

ci: run doc tests in ci
  core/async/pool.ts
  core/cli/deno.json
  deno.json
Labels: core

ci: run doc tests in ci (#309)
  core/async/pool.ts
  core/cli/deno.json
  deno.json
Labels: core

refactor(async/pool): rename `asyncGenerator` to `asyncIterable`
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

refactor(async/pool): rename `asyncGenerator` to `asyncIterable` (#310)
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

docs(fs/find): tag module in documentation
  core/fs/find.ts
Labels: core

docs(fs/find): tag module in documentation (#311)
  core/fs/find.ts
Labels: core

test(fs/find): better absolute path tests
  core/fs/find.test.ts
Labels: core

test(fs/find): better absolute path tests (#312)
  core/fs/find.test.ts
Labels: core

fix(fs/find): make `find()` return all files when not filtering by type
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core

test permissions
  core/fs/deno.json
Labels: core

test name
  core/fs/find.test.ts
Labels: core

fix(fs/find): make `find()` return all files when not filtering by type (#313)
  core/fs/deno.json
  core/fs/find.test.ts
  core/fs/find.ts
Labels: core

revert(async/pool): remove pool of async generators
  core/async/async.ts
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

iter
  core/async/pool.ts
Labels: core

iter
  core/async/async.ts
Labels: core

fix
  core/async/pool.ts
Labels: core

revert(async/pool): remove pool of async generators (#314)
  core/async/pool.test.ts
  core/async/pool.ts
Labels: core

ci: add scopes for deno and flow
  .github/workflows/title.yml
Labels: none

ci: add scopes for deno and flow (#315)
  .github/workflows/title.yml
Labels: none

fix: correct links to code of conduct and contributing guide (#317)
  CONTRIBUTING.md
  README.md
Labels: none

feat(testing/fake): `fakeCommand` for testing process spawns
  core/testing/fake.test.ts
  core/testing/fake.ts
  deno.json
  deno.lock
Labels: core

stdin
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

lint
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

compile
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

iterate
  core/deno/deno.test.ts
  core/git/git.ts
Labels: core

fmt
  core/deno/deno.test.ts
  core/deno/deno.ts
Labels: core

feat(testing/fake): `fakeCommand` for testing process spawns
  core/deno/deno.json
  core/deno/deno.test.ts
  core/deno/deno.ts
  core/git/git.ts
  tool/forge/compile.ts
Labels: core, forge

prompt fix
  tool/forge/compile.ts
Labels: forge
