Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

style: import from `@std/path` (#147)
  tool/forge/bump.test.ts
Labels: forge

ci: `prerelease` option for bump
  .github/workflows/bump.yml
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
Labels: forge

package options
  .github/workflows/bump.yml
  .github/workflows/title.yml
Labels: none

default empty
  .github/workflows/bump.yml
Labels: none

iterate
  .github/workflows/bump.yml
Labels: none

refine
  .github/workflows/bump.yml
Labels: none

fix
  .github/workflows/bump.yml
Labels: none

fix
  tool/forge/bump.ts
Labels: forge

debug
  .github/workflows/bump.yml
Labels: none

fix
  tool/forge/bump.ts
Labels: forge

chore: bump versions
  core/async/deno.json
  core/cli/deno.json
  core/git/deno.json
  core/github/deno.json
  core/http/deno.json
  core/testing/deno.json
  tool/forge/deno.json
Labels: core, forge

fix
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

fix
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

chore: bump forge version
  tool/forge/deno.json
Labels: forge

feat(forge): refined workflows
  .github/workflows/bump.yml
  .github/workflows/release.yml
  .github/workflows/title.yml
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
Labels: forge

deno fmt
  .github/workflows/bump.yml
  .github/workflows/release.yml
Labels: none

fix dupes
  .github/workflows/bump.yml
  .github/workflows/release.yml
  .github/workflows/title.yml
Labels: none

feat(forge): refined workflows (#150)
  .github/workflows/bump.yml
  .github/workflows/release.yml
  .github/workflows/title.yml
  tool/forge/bump.test.ts
  tool/forge/bump.ts
  tool/forge/changelog.test.ts
  tool/forge/changelog.ts
Labels: forge

ci: rename labeler workflow to triage
  .github/workflows/triage.yml
Labels: none

ci: rename labeler workflow to triage (#151)
  .github/workflows/triage.yml
Labels: none

ci: package list stored in repo vars
  .github/workflows/release.yml
Labels: none

quote
  .github/workflows/release.yml
Labels: none

iterate
  .github/workflows/bump.yml
  .github/workflows/release.yml
  .github/workflows/title.yml
Labels: none

chore: bump forge version
  tool/forge/deno.json
Labels: forge

feat(git): show git command on error
  core/git/git.test.ts
  core/git/git.ts
Labels: core

feat(git): show git command on error (#153)
  core/git/git.test.ts
  core/git/git.ts
Labels: core

fix(forge): branch hygiene for bump
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

chore: bump forge version
  tool/forge/deno.json
Labels: forge

fix(forge): branch hygiene for bump (#155)
  tool/forge/bump.test.ts
  tool/forge/bump.ts
Labels: forge

chore: bump forge version
  tool/forge/deno.json
Labels: forge

docs(forge): update docs GitHub authentication
  tool/forge/forge.ts
Labels: forge

test removing RELEASE token
  .github/workflows/release.yml
Labels: none

wrong yml
  .github/workflows/bump.yml
  .github/workflows/release.yml
Labels: none

chore: bump forge version
  tool/forge/deno.json
Labels: forge

ci: simplify auth
  .github/workflows/bump.yml
Labels: none

try
  .github/workflows/bump.yml
Labels: none

try
  .github/workflows/bump.yml
Labels: none

test
  .github/workflows/bump.yml
Labels: none

test
  .github/workflows/bump.yml
Labels: none

test
  .github/workflows/bump.yml
Labels: none

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**
