Repository withroka/roka, changes with the labels that .github/labeler.yml gives for each.
All labels: core, forge

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: core/**
forge:
  - changed-files:
      - any-glob-to-any-file: tool/forge/**

refactor(http/testing): strip auth headers once
  core/http/testing.ts
Labels: core

refactor(http/testing): strip auth headers once (#245)
  core/http/testing.ts
Labels: core

ci: add one more submodule
  .github/workflows/title.yml
Labels: none

ci: add one more submodule (#247)
  .github/workflows/title.yml
Labels: none

fix(testing,cli/config): make types not disposable, but functions return disposable
  core/cli/config.ts
  core/testing/mock.test.ts
  core/testing/mock.ts
  core/testing/temp.ts
  tool/forge/testing.ts
Labels: core, forge

fixes
  core/cli/config.test.ts
  core/http/testing.ts
Labels: core

fix(testing,cli/config): make types not disposable, but functions ret… (#248)
  core/cli/config.test.ts
  core/cli/config.ts
  core/http/testing.ts
  core/testing/mock.test.ts
  core/testing/mock.ts
  core/testing/temp.ts
  tool/forge/testing.ts
Labels: core, forge

fix(testing/mock): test `mock` writes mocks on `unload` event
  core/testing/__mocks__/custom/mock.test.unload.ts.mock
  core/testing/mock.test.ts
Labels: core

fix(testing/mock): test `mock()` writes mocks on `unload` event (#249)
  core/testing/__mocks__/custom/mock.test.unload.ts.mock
  core/testing/mock.test.ts
Labels: core

fix(testing/fake): disable color in `fakeConsole()` by default
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

fix(testing/fake): disable color in `fakeConsole()` by default (#250)
  core/testing/fake.test.ts
  core/testing/fake.ts
Labels: core

feat(maybe): add the `maybe()` function
  core/async/pool.ts
  core/http/request.ts
  core/maybe/deno.json
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
  core/testing/mock.test.ts
  core/testing/mock.ts
  deno.lock
  tool/forge/package.ts
  tool/forge/version.ts
Labels: core, forge

chore: more compatible doc generation
  deno.json
Labels: none

ci: run ci at deno 2.4
  .github/workflows/ci.yml
Labels: none

ci: run ci at deno 2.4 (#254)
  .github/workflows/ci.yml
Labels: none

chore: more compatible doc generation (#253)
  deno.json
Labels: none

feat(maybe): add the `maybe()` function (#251)
  core/async/pool.ts
  core/http/request.ts
  core/maybe/deno.json
  core/maybe/maybe.test.ts
  core/maybe/maybe.ts
  core/testing/mock.test.ts
  core/testing/mock.ts
  deno.lock
  tool/forge/package.ts
  tool/forge/version.ts
Labels: core, forge

test(forge/compile): fix test for deno 2.5
  tool/forge/compile.test.ts
Labels: forge

test(git): ignore other permission in chmod test
  core/git/git.test.ts
Labels: core

test(git): ignore other permission in chmod test (#255)
  core/git/git.test.ts
Labels: core

feat(forge): use permissions from standard Deno config
  .github/workflows/ci.yml
  core/cli/deno.json
  core/git/deno.json
  core/github/deno.json
  core/http/deno.json
  core/testing/deno.json
  deno.json
  tool/forge/compile.test.ts
  tool/forge/compile.ts
  tool/forge/deno.json
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: core, forge

fix
  deno.json
Labels: none

fix
  deno.json
  tool/forge/deno.json
Labels: forge

fix
  tool/forge/compile.ts
Labels: forge

feat(forge): use permissions from standard Deno config (#256)
  .github/workflows/ci.yml
  core/cli/deno.json
  core/git/deno.json
  core/github/deno.json
  core/http/deno.json
  core/testing/deno.json
  deno.json
  tool/forge/compile.test.ts
  tool/forge/compile.ts
  tool/forge/deno.json
  tool/forge/forge.test.ts
  tool/forge/forge.ts
  tool/forge/package.ts
  tool/forge/release.test.ts
  tool/forge/release.ts
Labels: core, forge

chore: devcontainer for codespaces
  .devcontainer/devcontainer.json
Labels: none

git town config
  .git-branches.toml
Labels: none

rm git town config
  .git-branches.toml
Labels: none

chore: devcontainer for codespaces (#257)
  .devcontainer/devcontainer.json
Labels: none

test(git,forge): make tests pass in codespaces
  .devcontainer/devcontainer.json
  .vscode/settings.json
  core/git/deno.json
  core/git/git.test.ts
Labels: core

test(git,forge): make tests pass in codespaces (#258)
  .devcontainer/devcontainer.json
  .vscode/settings.json
  core/git/deno.json
  core/git/git.test.ts
Labels: core

chore: add AGENTS.md for coding agents
  AGENTS.md
  CONTRIBUTING.md
Labels: none

chore: add AGENTS.md for coding agents (#259)
  AGENTS.md
  CONTRIBUTING.md
Labels: none

feat(fs/temp): move `tempDirectory` from testing to fs
  core/cli/config.ts
  core/fs/deno.json
  core/fs/fs.ts
  core/fs/temp.test.ts
  core/fs/temp.ts
  core/git/git.test.ts
  core/git/git.ts
  core/github/github.test.ts
  core/testing/deno.json
  core/testing/temp.test.ts
  core/testing/temp.ts
  core/testing/testing.ts
  tool/forge/compile.test.ts
  tool/forge/package.test.ts
Labels: core, forge

cleanup
  core/testing/temp.test.ts
  core/testing/temp.ts
Labels: core

title
  .github/workflows/title.yml
Labels: none

Update core/fs/fs.ts
  core/fs/fs.ts
Labels: core

feat(fs,testing/temp): move `tempDirectory` from testing to fs (#260)
  .github/workflows/title.yml
  core/cli/config.ts
  core/fs/deno.json
  core/fs/fs.ts
  core/fs/temp.test.ts
  core/fs/temp.ts
  core/git/git.test.ts
  core/git/git.ts
  core/github/github.test.ts
  core/testing/deno.json
  core/testing/testing.ts
  tool/forge/compile.test.ts
  tool/forge/package.test.ts
Labels: core, forge

fix(cli/config): don't create a config file if config is in-memory (#261)
  core/cli/config.ts
  core/cli/deno.json
Labels: core

docs: refer to `AGENTS.md` from `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: none
